{% extends 'shared/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
{% block content %}
    <h1>Create Library</h1>
    <form action="{% url 'libraryapp:libraries' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="name">Name: </label>
          <input id="name" type="text" name="name">
      </fieldset>
      <fieldset>
          <label for="address">Address: </label>
          <input id="address" type="text" name="address">
      </fieldset>
      <input type="submit" value="CREATE" />
    </form>
{% endblock %}
  </body>
</html>